/* Move variables to ThemeProvider */
:root {
  --mobnav-height: 5em;
  --text-light: rgba(255, 255, 255, 0.7);
  --raise-one: #222222;
  --raise-two: #2e2e2e;
  --vertical-gap: 2rem;
  --bg-color: #121212;
}
/* move variables */
